---

---

<nav>
    <section>
        <a href="">Yigs</a>
    </section>
    <section>
        <ul>
            <li>About me</li>
            <li></li>
            <li>l</li>
            <li>g</li>
        </ul>
    </section>
</nav>
<h1 class="text-red-700">navbar</h1>
